APP_ENV=development
APP_PORT=8080
APP_BASE_URL=http://localhost:8080
FRONTEND_URL=http://localhost:3000

DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=footwear_commerce
DB_SSLMODE=disable

JWT_SECRET=change-me
JWT_EXPIRES_IN=24h

UPLOAD_DIR=./uploads
MAX_UPLOAD_SIZE_MB=2
MAX_BODY_SIZE_MB=2
RESET_DEMO_DATA=false
